@import url('https://fonts.googleapis.com/css?family=K2D:400,500');

body{
	font-family: 'K2D', sans-serif;
	background-color: #fcfafa;
}
.menu{font-size: 14px; font-weight: 500; margin-top: 15px;}
.menu_btn_test{border-radius: 25px; padding-top: 10px;}
.big_box{background-color:#f2f2f2; padding-top: 30px; padding-bottom: 30px;}
.footer{background-color:#fcfafa; padding-top:25px; padding-bottom: 25px;}
.menu_botton {font-size: 14px;}
.hcard{font-size:100px; font-weight:200; color:#857f99}
.topicTop{
	padding-bottom: 25px;
	font-size: 30px;
	font-weight: 500;
	color:#3399cc;
	margin-bottom:0px;
	font-weight: 300;
}